@model Nakliye.ENTITY.Musteriler

@{
                ViewBag.Title = "KayıtOl";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>KayıtOl</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<section id="login-page-wrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-8 m-auto">
                <div class="login-page-content">
                    <div class="login-form">
                        <h3>Kayıt Ol</h3>
                        <form action="/" method="get">
                            <div class="name">
                                <div class="row">
                                    <div class="col-md-6">

                                        @Html.EditorFor(model => model.MusteriAdi, new { htmlAttributes = new { placeholder = "Adı", @class = "form-control" } })
                                    </div>
                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.MusteriSoyadi, new { htmlAttributes = new { placeholder = "Soyadı", @class = "form-control" } })
                                    </div>
                                </div>
                            </div>
                            <div class="username">
                                @Html.EditorFor(model => model.EMail, new { htmlAttributes = new { placeholder = "Email", @class = "form-control" } })
                            </div>

                            <div class="username">
                                @Html.EditorFor(model => model.KullaniciAdi, new { htmlAttributes = new { placeholder = "Kullanıcı Adı", @class = "form-control" } })
                            </div>

                            <div class="password">
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { placeholder = "Şifre", @class = "form-control", type = "password" } })
                            </div>
                            <div class="password">
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { placeholder = "Tekrar Şifre", @class = "form-control", type = "password" } })
                            </div>
                            <div class="name">
                                @Html.EditorFor(model => model.TelNo, new { htmlAttributes = new { placeholder = "Telefon No", @class = "form-control" } })
                            </div>
                            <div class="username">
                                @Html.EditorFor(model => model.AdresID, new { htmlAttributes = new { placeholder = "AdresID", @class = "form-control" } })
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Kayıt Ol" class="btn btn-default" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
}


